pytest
gymnax==0.0.9
brax==0.13.0
gym==0.26.2
jumanji==1.1.1
econojax @ git+https://github.com/ponseko/econojax
jax==0.6.0
rice_jax @ git+https://github.com/mila-iqia/climate-cooperation-competition@GAIA_jax#subdirectory=rice_jax
pgx==2.6.0
# jaxmarl==0.1.0 
xminigrid==0.9.1
craftax==1.5.0
navix==0.7.3